<div class="access-container">
  <h1>企業概要</h1>
  <p>社員数：１名</p>
  <p>設立：2020年3月17日</p>
  <p>事業コンテンツ：肩幅抑制装置の開発・提供</p>
  <p>現住所：東京都江戸川区松江7−21−26 グランディール201</p>

  <h2>お仕事のご依頼はこちら</h2>
    <p>haayshi.yutaro1118@gmali.com</p>
    <p>090-5401-5061</p>

  <%= link_to("ご意見箱はこちらまで","/posts/new") %>

</div>