<div class="profile-container">
  <h1>Profile</h1>
    <h2>生い立ち</h2>
    <div class="profile">
      <p>1986年11月18日、足立区にて出生。</p>
      <p>地元公立小学校、中学校卒業後に千葉県私立高等学校へ</P>
      <p>2004年 獨協大学入学</p>
      <p>2009年 獨協大学中退</p>
      <p>2010年 有限会社日進テック入社</p>
      <p>2011年 有限会社日進テック退社</p>
      <p>2011年 株式会社加賀谷ホールディングス入社</p>
      <p>2013年 株式会社加賀谷ホールディングス退社</p>
      <p>2013年 株式会社ニュートン入社</p>
      <p>2020年 株式会社ニュートン退社</p>
      <p>現在、WEBエンジニアを未経験から目指し、プログラミング勉強中</p>
      <p>主なスキルセット:HTML,CSS,Ruby,Ruby on rails,ビールマイスター一級</p>
    </div>  
    <div class="profile-img">
      <img src ="/IMG_1532.jpg" >
    </div>
</div>