<div class="new-container">
  <h1>ご意見箱</h1>
  <div class="form">
    <p>こちらのフォームからご意見があれば投稿してください。</p>
    <%= form_for :post, url:posts_create_path do |f|%>
      <%= f.text_area :content %>
      <%=f.submit "投稿" %>
    <% end %>  
   </div> 
</div>